body{
    background-image: url("./starter-code/images/img.png");
    background-size:cover;
    background-position: 0% 12%;
    background-color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    font-weight: 700;
    color: white;
}
.container{
    width: 100%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border-style: solid;
    border-color: #e6e6e6;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    
}
p {
    width: 400px;
    height: 40px;
    background-color: white;
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
    margin-left: 150px;

}
form{
    background: #f54a4a;
    width: 50%;
    text-align: center;
    border-radius: 40px;   
    padding: 40px 40px 40px 40px; 
}
.formctrl{
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.formctrl label, .formctrl input{
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

.formctrl label{
    text-align: left;
}
.formctrl input{
    width: 350px;
    height: 30px;
    border-radius: 3px;
    border-width: 0px;
    border-color: #e6e6e6;
}
.formctrl input:focus{
    outline: 0px;
    border-width: 2px;
	border-color: rgb(109, 180, 238);
}
.buttonctrl{
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
}
button{
    background: #e6e6e600;
    border-color: white;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
}
.message input{
    margin-top: 20px;
    width: 400px;
    height: 20px;
    text-align: center;
}
.formctrl.error input{
    border-color: red;
    border-width: 6px;
    width: 350px;
    height: 30px;
}

.formctrl label:after{
    content: ' *';
    color: red;
}
.checkctrl.error input{
    border: 2px solid #f54a4a;
    border-radius: 2px;
}
